
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


body {
  font-family: 'Century Gothic', sans-serif;
  margin: 0;
  padding: 0;
}

.profile-icon-container {
  position: absolute;
  top: 110px; /* Atur jarak dari atas */
  right: 20px; /* Atur jarak dari kanan */
  z-index: 10; /* Pastikan berada di atas elemen lainnya */
}

.profile-icon {
  width: 50px; /* Ukuran logo lebih kecil */
  height: 50px; /* Pastikan proporsi tetap */
  border-radius: 50%; /* Bentuk lingkaran */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Tambahkan bayangan */
  cursor: pointer; /* Ubah kursor menjadi pointer */
}

.profile-icon:hover {
  transform: scale(1.1); /* Efek zoom saat hover */
  transition: transform 0.3s ease-in-out;
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/Header_Dekstop.png'); /* Ganti dengan path gambar */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top; /* Menempatkan gambar lebih ke bawah */
  padding: 2em;
  text-align: center;
  padding-bottom: 8em;
}

.hero-content {
  max-width: 80%;
  color: white;
}

.center-logo {
  width: 200px;
  height: auto;
  margin: 0 auto 1em auto;
}

.slogan {
  font-family: 'Century Gothic', sans-serif; /* Menggunakan font Century Gothic */
  font-size: 3.5rem;
  font-weight: 600; /* Menyesuaikan ketebalan font, bisa disesuaikan */
  margin-bottom: 0.5em;
  text-shadow: 2px 2px 4px rgba(255, 241, 0, 0.6);
  letter-spacing: 0.5px; /* Menambah sedikit jarak antar huruf agar tampil lebih rounded */
  margin-top: 0.2em;
}


.hero-description {
  font-family: 'Poppins', sans-serif; 
  font-size: 1.3rem;
  line-height: 1.5;
  max-width: 80%;
  margin: 0 auto;
  margin-top: -0.1em;
}


/* Bagian "Kelebihan Kami" */
.section-info {
  padding: 2em;
  background-color: #fff;
  text-align: center;
  color: #004b23;
  text-shadow: 2px 2px 4px rgba(255, 241, 0, 0.6);
}

.info-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.info-image img {
  width: 250px;
  height: auto;
  border-radius: 15px;
}

.info-text {
  max-width: 600px;
  text-align: left;
  color: #004b23;
  font-family: 'Poppins', sans-serif;
}

.info-text h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5em;
  color: #004b23;
  font-family: 'Century Gothic', sans-serif;
}

.info-text p {
  font-size: 1rem;
  line-height: 1.6;
}

/* Bagian "Our Journey" */
.best-choice-text {
  font-family: 'Century Gothic', sans-serif;
  font-size: 2.5em;
  color: #004b23 !important; /* Warna hijau dengan !important */
  text-align: center;
  margin-bottom: 1em;
  margin-top: -0.8em;
}

.section-mission {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
  background-color: #fff;
  color: #004b23;
  text-align: left;
  margin-top: 2em; /* Tambahkan jarak di atas untuk memisahkan dari section sebelumnya */
  flex-direction: row-reverse; /* Agar gambar ada di sebelah kanan */
  padding-bottom: 5em;
}

.mission-image img {
  width: 250px;
  height: auto;
  border-radius: 15px;
  margin-left: 2em; /* Jarak antara gambar dan teks */
}

.journey-content {
  max-width: 600px;
  color: #004b23;
  font-family: 'Poppins', sans-serif;
}

.journey-content h4 {
  font-size: 1.5rem;
  margin-bottom: 0.5em;
  text-align: left;
  color: #004b23;
  font-family: 'Century Gothic', sans-serif;
}

.journey-content p {
  font-size: 1rem;
  line-height: 1.6;
}

/* Section Benefits untuk "Mengapa Harus d'snap!" */
.section-benefits {
  padding: 2em;
  background-color: #87c13f;
  text-align: center;
  padding-bottom: 6em;
  margin-bottom: 2.5em;
}

.section-benefits h2 {
  font-family: 'Century Gothic', sans-serif;
  font-size: 4em;
  color: #fff !important; /* Warna hijau dengan !important */
  text-shadow: 2px 2px 4px rgba(255, 241, 0, 0.6);
}

.benefits-grid {
  display: flex; /* Ubah dari grid ke flexbox untuk tata letak vertikal */
  flex-direction: column; /* Susun item secara vertikal */
  align-items: center; /* Pusatkan item */
  gap: 1.5em; /* Jarak antar item */
}

.benefit-item {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 1.5em;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 80%; /* Sesuaikan lebar item */
}

.benefit-icon {
  width: 120px;
  height: 120px;
  margin-right: 1em;
}

.benefit-text {
  text-align: left;
  color: #004b23;
  font-family: 'Poppins', sans-serif;
}

.benefit-text h3 {
  font-size: 1.5rem;
  color: #004b23;
  margin-bottom: 0.2em; /* Mengurangi jarak antara judul dan isi */
  font-family: 'Poppins', sans-serif;
}

.benefit-text p {
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 0; /* Menghilangkan jarak ekstra di atas teks deskripsi */
}

/* Section CTA */
.cta-section {
  background-color: #ffffff;
  padding: 2em 0;
  margin-bottom: 4em;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(255, 241, 0, 0.6);
  font-family: 'Poppins', sans-serif;
}

.cta-text {
  font-size: 3.5em;
  margin-bottom: 1em;
  margin-top: 0.5em;
  font-family: 'Poppins', sans-serif;
  color: #ffed00;
}

.cta-text h3 {
  font-family: 'Poppins', sans-serif;
}

.cta-text h4 {
  font-family: 'Poppins', sans-serif;
}

.cta-button {
  background-color: #004b23;
  color: white;
  padding: 1em 2em;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.2em;
  display: inline-block;
  margin-top: 1em;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.cta-button:hover {
  background-color: #004b23;
  transition: background-color 0.3s;
}

/* Responsivitas untuk tampilan mobile */
@media (max-width: 768px) {
  /* Hero Section */
  .hero-section {
    background-image: url('../assets/Header_Mobile.png'); /* Mobile image */
    padding: 2em; /* Adjust padding for mobile if necessary */
    padding-bottom: 50em; /* More space for mobile if needed */
  }

  .hero-content {
    max-width: 100%;
    padding: 0.5em;
  }

  .center-logo {
    width: 130px; /* Adjust logo size */
    height: auto;
    margin-bottom: 0em;
  }

  .slogan {
    font-size: 2rem; /* Reduce slogan size */
  }
  
  .hero-description {
    font-size: 1rem; /* Reduce description size */
  }
  /* Info Section */

  .section-info {
    padding: 0.5em; /* Kecilkan padding untuk section info */
    text-align: center; /* Pusatkan teks */
    margin-top: -42em;
  }

  .best-choice-text {
    font-size: 1.5rem; /* Adjust font size to be smaller */
  }
  

  .info-content {
    flex-direction: column; /* Change to column layout */
    align-items: center; /* Center items */
    text-align: center; /* Center text */
  }

  .info-image {
    margin-bottom: -2em; /* Add space below the logo */
  }

  .section-benefits h2 {
    font-size: 2.8em;
  }

  .info-text {
    text-align: center; /* Pusatkan teks untuk lebih baik */
    max-width: 90%; /* Perlebar untuk tampilan mobile */
    padding: 0 1em; /* Padding di kiri dan kanan */
    font-size: 0.9rem; /* Ukuran font lebih kecil untuk teks */
  }

  .info-text h3 {
    font-size: 1.4rem; /* Ukuran font heading lebih kecil */
  }

  .info-text p {
    font-size: 0.9rem; /* Ukuran font paragraf lebih kecil */
    margin-bottom: -2.2em;
    padding: 0 2em;
  }

  /* Benefits Section */
  .benefits-grid {
    flex-direction: column; /* Susun item secara vertikal */
    align-items: center; /* Pusatkan item */
  }

  .benefit-item {
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center items */
    text-align: center; /* Center text */
  }

  .benefit-icon {
    margin-bottom: 0.5em; /* Space below the icon */
    width: 90px; /* Adjust icon size for mobile */
    height: 90px; /* Adjust icon size for mobile */
  }

  .benefit-text {
    max-width: 100%; /* Ensure full width for text */
    text-align: center; /* Center text for mobile */
    margin-top: -1.3em;
  }

  .benefit-text h3 {
    text-align: center; /* Center the heading */
  }


  .cta-text {
    font-size: 2.5em; /* Kecilkan ukuran font CTA */
  }

  .cta-button {
    font-size: 1em; /* Kecilkan ukuran font pada tombol */
    padding: 0.8em 1.5em; /* Kecilkan padding tombol */
  }

  .section-mission {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: flex-start; /* Align items to the start (left) */
    padding: 2em; /* Optional padding */
    margin-top: 2em; /* Add margin for spacing */
  }

  .mission-image {
    margin-bottom: 1em; /* Space below the image */
  }

  .journey-content {
    text-align: right; /* Align text to the right */
    margin-left: auto; /* Push content to the right */
    margin-right: 0; /* Optional: reset right margin */
    width: 100%; /* Ensure it takes full width */
  }

  .journey-content h4 {
    font-size: 1.5rem; /* Adjust heading size */
    margin: 0; /* Remove default margin */
    text-align: center;
  }  

  .journey-content p {
    font-size: 0.9rem; /* Adjust paragraph size */
    line-height: 1.5; /* Adjust line height */
    text-align: center;
  
  }

   /* Profile Icon Adjustment for Mobile */
   .profile-icon-container {
    top: 325px; /* Move the profile icon lower on mobile */
  }

  .profile-icon {
    width: 40px; /* Ukuran logo lebih kecil */
    height: 40px; /* Pastikan proporsi tetap */
  }
}