/* KontakKami.css */

/* Styling for light green section */
/* Pop-up Overlay */  
/* Pop-up Overlay */
/* Pop-up Overlay */
.popup-overlay {
  position: fixed;
  top: 0; /* Full height from top */
  left: 0;
  right: 0;
  bottom: 0; /* Full height to the bottom */
  background-color: rgba(0, 0, 0, 0.5); /* Transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  padding: 5px; /* Adjusted padding for more space */
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.7); /* Expanded shadow effect */
}

/* Pop-up Form */
.popup-form {
  background-color: #ffffff;
  padding: 1.5rem; /* Increased padding for more space */
  border-radius: 10px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
  width: 50%; /* Set a wider width */
  max-width: 600px; /* Control max width */
  height: auto; /* Let height adjust based on content */
  max-height: 600px; /* Limit the height to 400px */
  min-width: 250px; /* Set minimum width for responsiveness */
  overflow-y: auto; /* Add scrolling if content exceeds max-height */
  position: relative;
  animation: fadeIn 0.3s ease-in-out;
  padding-top: 3.5rem; /* Add space between close button and form content */
}



/* Sesuaikan juga ukuran font dan padding elemen di dalam form */
.popup-form label {
  font-size: 0.9rem; /* Sedikit kecilkan font label */
  margin-bottom: 0.3rem;
}

.popup-form input,
.popup-form textarea,
.popup-form select {
  padding: 0.6rem; /* Kurangi padding */
  margin-bottom: 0.8rem;
  font-size: 0.9rem;
}

.popup-form textarea {
  height: 100px; /* Sedikit kurangi tinggi textarea */
}

.popup-form button.submit-button {
  padding: 0.7rem;
  font-size: 0.9rem;
}

.close-button {
  position: absolute; /* Ensure it's positioned absolutely inside the popup */
  top: 1rem; /* Add some space from the top of the popup */
  right: 10px; /* Move it to the right */
  font-size: 1.5rem; /* Slightly increase the size of the button */
  color: #333; /* Change the color if needed */
  background-color: transparent; /* Make the background transparent */
  border: none; /* Remove any border */
  cursor: pointer; /* Change the cursor to pointer on hover */
  z-index: 10000; /* Ensure it stays on top */
}

.close-button:hover {
  color: #194c23; /* Optional: Change color on hover */
  transform: scale(1.1); /* Optional: Slight scale effect on hover */
}

  .popup-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    appearance: none; /* Menghilangkan default dropdown styling */
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23333" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: center;
  }
  
  /* Hover effect */
  .popup-form select:hover {
    border-color: #666;
  }
  
  /* Focus effect */
  .popup-form select:focus {
    outline: none;
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
  }
  
  /* Styling untuk option */
  .popup-form select option {
    padding: 10px;
    background-color: white;
    color: #333;
  }
  
  /* Styling untuk placeholder/default option */
  .popup-form select option[value=""] {
    color: #999;
  }
  
  
  .close-button:hover {
    transform: scale(1.2);
    color: #194c23;
  }
  
  .popup-form form {
    display: flex;
    flex-direction: column;
  }
  
  .popup-form label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #333;
  }
  
  .popup-form input,
  .popup-form textarea {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
  }
  
  .popup-form button.submit-button {
    background-color: #194c23;
    color: #ffffff;
    padding: 0.8rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  
  .popup-form button.submit-button:hover {
    background-color: #14591b;
  }
  /* Textarea */
  .popup-form textarea {
    height: 120px;
    resize: none;
  }

  .confirmation-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Transparansi untuk latar belakang */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Box */
.confirmation-box {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  text-align: center;
  animation: fadeIn 0.3s ease-in-out;
}

/* Text */
.confirmation-box p {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 1.5rem;
}

/* Buttons */
.confirmation-buttons {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.confirm-yes,
.confirm-no {
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

/* Yes Button */
.confirm-yes {
  background-color: #194c23; /* Hijau gelap */
  color: #ffffff; /* Warna teks putih */
}

.confirm-yes:hover {
  background-color: #14591b; /* Hijau lebih gelap */
}

/* No Button */
.confirm-no {
  background-color: #d9534f; /* Merah */
  color: #ffffff; /* Warna teks putih */
}

.confirm-no:hover {
  background-color: #c9302c; /* Merah lebih gelap */
}

  
  /* Submit Button */
  .submit-button {
    display: block;
    background-color: #194c23; /* Hijau gelap */
    color: #ffffff; /* Warna teks putih */
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.8em 1.5em;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease;
    width: 100%;
  }
  
  .submit-button:hover {
    background-color: #14591b; /* Warna hijau lebih gelap */
  }
  
  .submit-button:active {
    transform: scale(0.95);
  }

.event-packages {
    padding: 2em 1em;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.event-packages h3 {
    font-size: 2.5rem;
    color: #194c23;
    margin-bottom: 3em;
    font-family: 'Century Gothic', sans-serif;
}

.event-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    padding: 0 2em;
}

.event-card {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 1.5em;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.event-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

.event-card img {
    width: 100%;
    height: 300px;
    object-fit: cover; /* Agar gambar tetap proporsional */
    border-radius: 10px;
}

.event-card h4 {
    font-size: 1.8rem;
    color: #194c23;
    margin-bottom: 0.5em;
}

.event-card p {
    font-size: 1rem;
    margin-bottom: 0.5em;
    color: #333;
}

.event-card ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 1em;
}

.event-card ul li {
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 0.5em;
    margin-bottom: 0.5em;
    font-size: 0.9rem;
    color: #555;
}

.event-card .price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #194c23;
    margin-bottom: 1em;
}

.event-card .order-button {
    display: inline-block;
    background-color: #194c23;
    color: #ffffff;
    text-decoration: none;
    padding: 0.8em 1.5em;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.2s ease;
}

.event-card .order-button:hover {
    background-color: #14591b;
}


.header-our-services {
    position: relative;
}

.header-our-services img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 2em;
}

.header-text {
    position: absolute;
    top: 14%;
    left: 13%;
    font-family: 'Century Gothic', sans-serif;
    font-size: 4rem; /* Perbesar ukuran font */
    color: #ffffff; /* Warna putih agar kontras dengan header */
    text-shadow: 2px 2px 4px rgba(255, 241, 0, 0.6);
}


/* Styling for white background contact section */
.kontak-buttons {
    background-color: #ffffff; /* White background */
    text-align: center;
    padding: 2em 0;
    margin-bottom: 2.7em;
    font-family: 'Poppins', sans-serif;
}

.kontak-buttons h3 {
    font-size: 3rem;
    color: #194c23; /* Dark green color for header */
    margin-bottom: 1.5em;
    font-family: 'Century Gothic', sans-serif;
}

.button-group {
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}


.button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    padding: 1em 3em;
    border-radius: 10px;
    text-decoration: none;
    width: 500px;
    margin: 0 auto;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.button img {
    width: 100px;
    height: 50px;
    object-fit: contain;
    border-radius: 50%;
    margin-right: 1em;
}

.button span {
    flex: 1;
    text-align: center;
    padding-right: 3em;
}

/* Hover effect for button */
.button:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

.button:active {
    transform: scale(0.98);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

/* Button colors */
.button.whatsapp {
    background-color: #25d366;
}

.button.email {
    background-color: #0078d4;
}

.button.instagram {
    background-color: #c13584;
}

/* Mobile styling for screens up to 768px */
@media (max-width: 768px) {
    .header-our-services img {
        content: url('../assets/header-our-services-mobile.png'); /* Ganti gambar untuk mobile */
    }

    .header-text {
        position: absolute;
        top: 7%;
        left: 17%;
        font-family: 'Century Gothic', sans-serif;
        font-size: 30px; /* Perbesar ukuran font */
        color: #ffffff; /* Warna putih agar kontras dengan header */
        text-shadow: 2px 2px 4px rgba(255, 241, 0, 0.6);
    }

    .kontak-kami {
        padding: 4em 1em;
    }

    .popup-overlay {
      padding: 0; /* Remove padding to utilize full height */
    }
  
    .popup-form {
      top: -10%; /* Keep the form higher on mobile */
      width: 80%; /* Make the form more responsive */
      max-width: 280px; /* Limit the max-width further for smaller size */
      min-width: 220px; /* Adjust minimum width for even smaller screens */
      position: relative;
      animation: fadeIn 0.3s ease-in-out;
      padding-top: 1.5rem; /* Reduce padding for more compact form */
    }
  
    /* Adjust form content for smaller size */
    .popup-form label,
    .popup-form input,
    .popup-form textarea,
    .popup-form select {
      font-size: 0.85rem; /* Reduce font size */
      padding: 0.5rem; /* Reduce padding */
    }
  
    .popup-form button.submit-button {
      padding: 0.6rem; /* Smaller submit button */
      font-size: 0.85rem; /* Smaller font size */
    }
    
    .kontak-kami h2 {
        font-size: 2.5rem;
    }

    .kontak-kami p {
        font-size: 0.9rem;
        max-width: 90%;
    }

    .kontak-buttons {
        padding: 1.5em 1em;
        margin-top: -1.5em;
    }

    /* Modify font size for mobile */
    .kontak-buttons h3 {
        font-size: 1.8rem; /* Smaller font size for mobile */
    }

    .button-group {
        gap: 1.5em;
    }

    /* Smaller button styling */
    .button {
        font-size: 1rem;
        padding: 0.7em 1em;
        width: 80%;
        justify-content: center;
    }

    .button img {
        width: 40px;
        height: 40px;
        margin-right: 0.5em;
    }

    .button span {
        text-align: center;
        margin-left: 0;
    }

    /* Hover effect for mobile */
    .button:hover {
        transform: scale(1.05);
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    }

    .button:active {
        transform: scale(0.98);
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    }

    .event-grid {
      display: flex;
      overflow-x: auto;
      gap: 1em;
      padding: 0 1em;
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none; /* IE and Edge */
  }

  .event-grid::-webkit-scrollbar {
      display: none; /* Chrome, Safari, Opera */
  }

  .event-card {
      flex: 0 0 auto;
      width: 240px; /* Fixed width for mobile cards */
      margin-right: 1em;
      scroll-snap-align: start;
  }

  .event-card:last-child {
      margin-right: 1em; /* Ensures last card has proper spacing */
  }

  .event-card img {
      width: 100%;
      height: 200px;
      object-fit: cover;
  }
}
