/* Login.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #004B23; /* Background hijau gelap */
  position: relative;
}

.login-box {
  background-color: white;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 300px;
}

.login-logo {
  width: 150px;
  margin-bottom: 20px;
}

.login-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.login-input:focus {
  border-color: #87c13f; /* Hijau terang */
  outline: none;
}

.login-button {
  background-color: #87c13f; /* Hijau terang */
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #87c13f; /* Hijau lebih gelap */
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: transparent;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.back-logo {
  width: 50px; /* Set the desired width of the back logo */
  height: auto;
}

.back-button:hover .back-logo {
  opacity: 0.7;
}

/* MEDIA QUERY UNTUK LAYAR 768PX */
@media (max-width: 768px) {
  .login-box {
    width: 60%; /* Mengisi sebagian besar layar */
    padding: 30px;
    position: relative; /* Tambahkan properti posisi */
    top: -50px; /* Geser kotak ke atas */
  }

  .login-logo {
    width: 120px; /* Memperkecil logo */
  }

  .login-title {
    font-size: 20px; /* Sedikit mengecilkan teks judul */
  }

  .login-input {
    font-size: 14px; /* Mengurangi ukuran teks input */
    padding: 8px;
  }

  .login-button {
    font-size: 14px; /* Menyesuaikan ukuran tombol */
    padding: 8px;
  }

  .back-logo {
    width: 40px; /* Mengecilkan ikon kembali */
  }

  .login-container {
    padding: 10px; /* Ruang lebih kecil di sekitar container */
  }
}