@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

body {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.projects-section {
    width: 100%; /* Ensures the section takes full width */
    margin: 0; /* Removes default margin */
    padding: 0; /* Removes default padding */
    position: relative; /* Ensures positioning context */
}

.explore-text {
    position: absolute; /* Position it absolutely within the header */
    left: 150px; /* Move to the right */
    top: 120px; /* Move down */
    font-family: 'Century Gothic', sans-serif;
    font-size: 72px; /* Keep the text size large */
    color: white; /* Change color based on your background */
    z-index: 1; /* Ensure it appears above other elements */
    text-shadow: 2px 2px 4px rgba(255, 241, 0, 0.6); /* Optional shadow for better visibility */
    font-size: 4rem;
    font-weight: 600;
}

.projects-section img {
    width: 100%; /* Ensures the image takes full width */
    height: auto; /* Maintains aspect ratio */
    display: block; /* Removes any gap below the image */
}

.projects-content {
    max-width: 50%;
    color: white;
    padding-top: 6em;
    margin: 0 auto;
}

.booth-image {
    width: 30%;
    height: auto;
    margin-left: 2em;
    margin-top: -50px;
}

.projects-slogan {
    font-family: 'Century Gothic', sans-serif;
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 0.5em;
    margin-top: 0;
}

.projects-description {
    font-family: 'DM Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 0.5em;
}

.slider-section {
    margin-top: 4em;
    /* Kurangi margin bottom */
    margin-bottom: 2em; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 2em;
}

/* Tambahkan padding top pada projects-grid untuk desktop */
.projects-grid {
    padding: 4em 2em 5em 2em;
    background-color: #f1f6ff;
    /* Hapus margin top karena sudah ada margin bottom di slider-section */
    /* margin-top: 2em; */
    margin-bottom: 2em;
}

.slick-slider {
    width: 70%;
    margin: 0 auto;
    /* Hapus margin-bottom negatif yang menyebabkan overlap */
    /* margin-bottom: -16em; */ 
}

.slider-image {
    width: 100%;
    height: 300px;
    display: block;
    border-radius: 10px;
    cursor: pointer;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out; /* Menambahkan transisi */
}

.slick-slide {
    padding: 0 10px; /* Menjaga jarak antar gambar */
}

.slick-list {
    margin: 0 -10px; /* Mengkompensasi padding agar slider tetap rapi */
}

/* Custom arrows */
.custom-arrow {
    font-size: 2rem;
    color: #333;
    z-index: 1;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8); /* Warna latar belakang untuk panah */
    border-radius: 50%;
    padding: 0.5em;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.next-arrow {
    right: -50px; /* Sesuaikan posisi ke kanan gambar */
}

.prev-arrow {
    left: -50px; /* Sesuaikan posisi ke kiri gambar */
}

.slick-prev, .slick-next {
    display: none; /* Sembunyikan panah default */
}

/* Projects Grid */
.projects-grid {
    padding: 2em;
    background-color: #f1f6ff;
    margin-bottom: 2em;
    padding-bottom: 5em;
}

.grid-title {
    font-family: 'Century Gothic', sans-serif;
    font-size: 3.5rem; /* Ukuran font untuk judul grid */
    text-align: center;
    margin-bottom: 1em;
    color: #004b23;
    text-shadow: 2px 2px 4px rgba(255, 241, 0, 0.6);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Mengubah menjadi 2 kolom */
    gap: 2.5em; /* Jarak antara item */
    justify-items: center;
}

.grid-item {
    text-align: center;
    background-color: #fff;
    padding: 1em; /* Padding untuk item */
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; /* Meningkatkan max width untuk item grid */
    font-family: 'Poppins', sans-serif;
    color: #004b23;
}

.grid-item img {
    width: 100%; /* Memastikan gambar mengisi item grid */
    height: 300px; /* Meningkatkan tinggi tetap untuk gambar */
    object-fit: cover; /* Memastikan gambar menutupi area tanpa meregang */
    border-radius: 8px;
}

.grid-item p {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.1rem; /* Ukuran font untuk deskripsi */
    margin-top: 0.5em;
    font-weight: 600;
}

.fullscreen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Latar belakang gelap dengan transparansi */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Pastikan di atas elemen lain */
}

.fullscreen-image {
    max-width: 90%; /* Maksimal lebar gambar dalam fullscreen */
    max-height: 90%; /* Maksimal tinggi gambar dalam fullscreen */
    border-radius: 10px; /* Menambahkan border radius pada gambar */
}

.grid-container-wrapper {
    position: relative;
    z-index: 1;
    background-color: #f1f6ff;
    padding-top: 2em;
}

/* Responsivitas untuk tampilan mobile */
@media (max-width: 768px) {
    /* Projects Section */
    body {
        font-family: 'Poppins', sans-serif;
        margin: 0;
        padding: 0;
    }

    .projects-section {
        background-image: url('../assets/header-project-mobile.png'); /* Gunakan gambar sebagai background */
        background-size: cover; /* Sesuaikan agar background menutupi seluruh area */
        background-position: center; /* Posisikan di tengah */
        height: 300px; /* Atur tinggi sesuai kebutuhan */
        position: relative; /* Atur positioning untuk konteks */
    }

    .projects-section img {
        display: none; /* Sembunyikan gambar header di mobile */
    }
    
    .explore-text {
        position: absolute;
        top: 25%; /* Tempatkan di tengah vertikal */
        left: 50%; /* Tempatkan di tengah horizontal */
        transform: translate(-50%, -50%);
        font-family: 'Gochi Hand', cursive;
        font-size: 34px;
        color: white;
        text-shadow: 2px 2px 4px rgba(255, 241, 0, 0.6);
        text-align: center;
        white-space: nowrap;
        z-index: 0; /* Turunkan z-index pada tampilan mobile */
        font-family: 'Century Gothic', sans-serif;
    }

    /* Pastikan elemen dropdown memiliki z-index lebih tinggi */
    .dropdown-menu {
        z-index: 1;
    }

    .slider-section {
        margin-top: 2em;
        margin-bottom: 2em;
        padding: 1em;
        overflow: hidden;
        width: 100%;
    }


    .slick-slider {
        width: 100%;
        margin: 0 auto;
    }
    

    .slider-image {
        width: 100% !important; /* Force width 100% */
        height: 250px !important; /* Set fixed height */
        object-fit: cover !important; /* Maintain aspect ratio while covering container */
        display: block;
        margin: 0 auto;
        border-radius: 10px;
    }


    .slick-slide div {
        width: 100%;
    }

    .slick-track {
        display: flex;
        align-items: center;
    }

    /* Mengatur container list slider */
    .slick-list {
        margin: 0;
        padding: 0 !important;
        overflow: hidden;
        width: 100%;
    }
    
     /* Projects Grid */
     .projects-grid {
        padding: 2em; /* Tambahkan padding lebih besar untuk area grid */
        margin-bottom: 2em; /* Kecilkan margin bawah */
    }
    
    .grid-title {
        font-size: 2rem; /* Kecilkan ukuran font judul grid */
        margin-bottom: 1em; /* Kurangi margin bawah */
        margin-top: 0em;
    }

    .grid-container {
        grid-template-columns: repeat(1, 1fr); /* Ubah menjadi 1 kolom pada mobile */
        gap: 2em; /* Kecilkan jarak antar item */
    }

    .grid-item {
        padding: 1em; /* Tambahkan padding di dalam kotak */
        max-width: 90%; /* Ubah lebar maksimum item grid */
        box-shadow: none; /* Menghilangkan bayangan untuk tampilan lebih ramping */
        border-radius: 5px; /* Kecilkan radius sudut untuk tampilan lebih ramping */
    }

    .grid-item img {
        height: 150px; /* Kecilkan tinggi gambar grid */
        object-fit: cover; /* Memastikan gambar menutupi area tanpa meregang */
    }

    .grid-item p {
        font-size: 0.8rem; /* Kecilkan ukuran font untuk deskripsi */
        margin: 0.3em 0; /* Kecilkan margin atas dan bawah */
    }
}